.lightboxWrapper {
  width: 500px;
  height: fit-content;
  margin: 10px auto;
}

.lightbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonClose {
  align-self: flex-end;
}

.buttonClose svg path {
  transition: all 0.2s ease-in-out;
}

.buttonClose:hover svg path {
  fill: var(--orange);
}

.slider {
  position: relative;
}

.listWrapper {
  width: 90%;
  margin: 0 auto;
}
