.sliderBtnLeft,
.sliderBtnRight {
  position: absolute;
  top: 50%;
  padding: 15px 20px;
  background-color: var(--white);
  border-radius: 50%;
}

.sliderBtnLeft svg path,
.sliderBtnRight svg path {
  transition: all 0.2s ease-in-out;
}

.sliderBtnLeft:hover svg path,
.sliderBtnRight:hover svg path {
  stroke: var(--orange);
}

.sliderBtnLeft {
  left: -5%;
}
.sliderBtnRight {
  right: -5%;
}

@media (max-width: 768px) {
  .sliderBtnLeft {
    left: 5%;
  }
  .sliderBtnRight {
    right: 5%;
  }

  .sliderBtnLeft:hover svg path,
  .sliderBtnRight:hover svg path {
    stroke: #1d2026;
  }

  .sliderBtnLeft:active svg path,
  .sliderBtnRight:active svg path {
    stroke: var(--orange);
  }
}
