.headerInner {
  display: flex;
  align-items: center;
  gap: 50px;

  border-bottom: 2px solid var(--light-grayish-blue);

  padding: 30px;
}

.icon {
  order: -1;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .headerInner {
    gap: 25px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .headerInner {
    gap: 12px;
    padding: 10px;
  }
}
